@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default;
}

body {
  width: 600px;
  height: 600px;
  margin: 0;
  font-family: 'Roboto', system-ui, sans-serif;
}

#root {
  height: 100%;
}
